/*Bu Tasarım Emrah Kahraman tarafından kodlanmıstır.*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import "_grid.scss";
@import "_variable.scss";
@import "_mixins.scss";    

* {
    box-sizing: border-box;
}

body {
    background-color: $base-color;
    width: 100%;
    min-height: 100vh;
    font-size: $size;
    font-family: $family;
    color: $primary-color;
}

.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
    -ms-touch-action: auto;
    touch-action: auto;
}

//Header#
#header {
    width: 100%;
    background-color: $primary-color;
    @include box-shadow2(0px, 3px, 10px, 0px, rgba(0,0,0,0.36));
    @include transition(0.4s);
    position: sticky;
    top: 0;
    z-index: 2;
        //header-wrapper
        .header-wrapper {
            @include flex();
            @include justify-content(space-between);
            @include align-items(center);
            height: 70px;
            position: relative;
            //logo
            .logo {
                position: relative;
                z-index: 3;
                img {
                    cursor: pointer;
                }
            }
            //menu
            .menu {
                margin-bottom: 0;
                li {
                    display: inline-block;
                    a {
                        color: $base-color;
                        @include weight(semi-bold);
                        font-family: $family;
                        padding: 10px 15px;
                        @include border-radius(5px);
                        @include transition(0.4s);
                        &:hover {
                            background-color: $secondary-color;
                        }
                    }
                }
            }
            //hamburger
            .hamburger {
                display: none;
                position: fixed;
                top: 19px;
                right: 15px;
                cursor: pointer;
                z-index: 999;
                i {
                    color: $base-color;
                    font-size: 30px;
                    cursor: pointer;
                    @include transition(0.4s);
                }
            }
            //Notebook
            @include notebook {
                .menu {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background-color: $primary-color;
                    z-index: 2;
                    text-align: center;
                    @include flex();
                    @include flex-direction(column);
                    @include justify-content(center);
                    @include scale(0);
                    opacity: 0;
                    transition: opacity 650ms;
                    li {
                        display: block;
                        margin-right: 0;
                        padding-bottom: 35px;
                        &:last-child {
                        padding-bottom: 0;
                    }
                    a {
                        font-size: 18px;
                        @include weight(bold);
                        color: $base-color;
                        &:hover {
                            color: $base-color;
                        }
                    }
                }
            }
            .menu.open {
                opacity: 1;
                @include scale(1);
            }
            .hamburger {
                display: block;
                .fa-times {display: none;}
                .fa-times.open {display: block;}
                .fa-bars.open {display: none;}
            }
        }
    }
}
#header.fixed {
    background-color: rgba(0,0,0,0.8);
    @include box-shadow2(0px, 3px, 10px, 0px, rgba(0,0,0,0.36));
}

//Home-Slider#
#home-slider {
    width: 100%;
    //home-slider-owl
    .home-slider-owl {
        position: relative;
        //item
        .item {
            position: relative;
            .caption {
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%, -50%);
                text-align: center;
                color: $base-color;
                h6 {
                    text-transform: uppercase;
                    font-size: 3vw;
                    @include weight(semi-bold);
                }
                p {
                    padding-top: 10px;
                    font-size: 18px;
                    letter-spacing: 1px;
                }
                button {
                    margin-top: 30px;
                    background-color: transparent;
                    border: 1px solid $base-color;
                    padding: 20px 40px;
                    cursor: pointer;
                    @include border-radius(5px);
                    @include transition(0.4s);
                    a {
                        color: $base-color;
                        font-size: $size;
                        @include weight(semi-bold);
                    }
                    &:hover {
                        border: 1px solid $secondary-color;
                        background-color: $secondary-color;
                    }
                }
            }
            //Tablet
            @include tablet {
                .caption {
                    p {font-size: 13px; letter-spacing: 0.5px;}
                    button {padding: 10px 20px;}
                }
            }
            //Mobil
            @include mobil {
                .caption {
                    p {font-size: 10px; letter-spacing: 0.5px;}
                    button {
                        margin-top: 15px;
                        padding: 10px 20px;
                        a {font-size: 12px;}
                    }
                }
            }
            //Small
            @include small {
                .caption {
                    p {letter-spacing: normal; line-height: normal; padding-top: 5px;}
                    button {
                        margin-top: 15px;
                        padding: 5px 10px;
                        a {font-size: 12px;}
                    }
                }
            }
            //X-Small
            @include x-small {
                .caption {display: none;}
            }
        }
        //owl-mav
        .owl-nav {
            margin-top: 0;
            .owl-prev {
                position: absolute;
                top: 38%;
                left: 1%;
                font-size: 100px;
                color: $secondary-color;
                @include weight(light);
                &:hover {
                    background-color: transparent;
                }
            }
            .owl-next {
                position: absolute;
                top: 38%;
                right: 1%;
                font-size: 100px;
                color: $secondary-color;
                @include weight(light);
                &:hover {
                    background-color: transparent;
                }
            }
            //Notebook
            @include notebook {
                .owl-prev, .owl-next {
                    top: 30%;
                }
            }
            //X-Tablet
            @include x-tablet {
                .owl-prev, .owl-next {
                    top: 20%;
                }
            }
            //Mobil
            @include mobil {
                .owl-prev, .owl-next {
                    top: 30%;
                    font-size: 50px;
                }
            }
            //Small
            @include small {
                .owl-prev, .owl-next {
                    top: 20%;
                }
            }
            //X-Small
            @include x-small {
                .owl-prev, .owl-next {
                    top: 12%;
                }
            }
        }
    }
}

//Home-Services#
#home-services {
    width: 100%;
    padding: 80px 0 80px 0;
    //title
    .title {
        text-align: center;
        h6 {
            font-size: 30px;
            text-transform: uppercase;
            color: $primary-color;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 0;
                right: 0;
                width: 70px;
                height: 2px;
                margin: 0 auto;
                background-color: $secondary-color;
            }
        }
        p {
            color: $three-color;
            padding-top: 50px;
            font-size: $size;
            line-height: 22px;
            letter-spacing: 0.3px;
        }
        //Tablet
        @include tablet {
            h6 {font-size: 20px;}
            p {padding-top: 45px;}
        }
        //Mobil
        @include mobil {
            h6 {font-size: $size;}
            p {padding-top: 40px; font-size: 12px; line-height: normal;}
        }
    }
    //home-services-wrapper
    .home-services-wrapper {
        padding-top: 50px;
        //home-services-img
        .home-services-img {
            img {width: 100%}
        }
        ////home-services-icons
        .home-services-icons {
            .icons {
                .icon {
                    border: 1px solid #e6e6e6;
                    padding: 30px 15px;
                    text-align: center;
                    @include border-radius(5px);
                    @include transition(0.4s);
                    margin-bottom: 30px;
                    &:nth-child(n+5) {
                        margin-bottom: 0;
                    }
                    i {color: $secondary-color}
                    h5 {
                        padding-top: 15px;
                        text-transform: uppercase;
                        color: $primary-color;
                        line-height: normal;
                        @include weight(semi-bold);
                    }
                    &:hover {
                        background-color: $secondary-color;
                        border: 1px solid $secondary-color;
                        cursor: pointer;
                        i, h5 {color: $base-color}
                    }
                }
            }
        }
        //Notebook
        @include notebook {
            .home-services-icons {margin-top: 30px;}
        }
        //Small
        @include small {
            .home-services-icons {
                .icons {
                    .icon {
                        padding: 20px 0;
                        h5 {font-size: 10px; padding-top: 10px;}
                    }
                }
            }
        }
    }
}

//Home-Projects#
#home-projects {
    width: 100%;
    padding: 80px 0 80px;
    background-color: #f6f6f6;
    text-align: center;
    //title
    .title {
        font-size: 30px;
        text-transform: uppercase;
        color: $primary-color;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            width: 70px;
            height: 2px;
            margin: 0 auto;
            background-color: $secondary-color;
        }
        //Tablet
        @include tablet {
            font-size: 20px;
        }
        //Mobil
        @include mobil {
            font-size: $size;
            &::before {bottom: -15px;}
        }
    }
    //home-projects-wrapper
    .home-projects-wrapper {
        padding-top: 70px;
        @include flex();
        @include justify-content(space-between);
        @include flex-wrap(wrap);
        //home-project-item
        .home-project-item {
            width: 16.6%;
            overflow: hidden;
            position: relative;
            @include transition(0.4s);
            &::before {
                content: "";
                background-color: rgba(26,175,107,0.36);
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                height: 0%;
                z-index: 1;
                transition: 1s height;
                -webkit-transition: 1s height;
                -moz-transition: 1s height;
                -ms-transition: 1s height;
                -o-transition: 1s height;
            }
            img {width: 100%}
            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                @include translate(-50%, -50%);
                z-index: 2;
                text-align: center;
                @include transition(0.4s);
                opacity: 0;
                visibility: hidden;
                i {color: $base-color; font-size: 30px;}
            }
            &:hover {
                cursor: pointer;
                .icon {
                    visibility: visible;
                    opacity: 1;
                }
                &::before {
                    height: 100%;
                }
            }
        }
        //X-Large
        @include x-large {
            .home-project-item {
                width: 20%;
            }
        }
        //Large
        @include large {
            .home-project-item {
                width: 25%;
            }
        }
        //Notebook
        @include notebook {
            .home-project-item {
                width: 33.3%;
            }
        }
        //Tablet
        @include tablet {
            .home-project-item {
                width: 50%;
            }
        }
        //X-Tablet
        @include x-tablet {
            .home-project-item {
                width: 100%;
            }
        }
    }
    button {
        margin-top: 50px;
        padding: 15px 30px;
        border: 1px solid $secondary-color;
        background-color: transparent;
        @include transition(0.4s);
        @include border-radius(5px);
        cursor: pointer;
        a {
            color: $secondary-color;
            @include weight(semi-bold);
        }
        &:hover {
            background-color: $secondary-color;
            border: 1px solid $secondary-color;
            a {color: $base-color}
        }
        //Small
        @include small {
            padding: 10px 20px;
            a {font-size: 12px;}
        }
    }
}

//Home-Clients#
#home-clients {
    width: 100%;
    padding: 80px 0 80px 0;
    text-align: center;
    //title
    .title {
        font-size: 30px;
        text-transform: uppercase;
        color: $primary-color;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            width: 70px;
            height: 2px;
            margin: 0 auto;
            background-color: $secondary-color;
        }
        //Tablet
        @include tablet {
            font-size: 20px;
        }
        //Mobil
        @include mobil {
            font-size: $size;
            &::before {bottom: -15px;}
        }
    }
    //home-clients-owl
    .home-clients-owl {
        padding-top: 70px;
        position: relative;
        //item
        .item {
            img {width: 15%; margin: 0 auto;};
            p {
                padding-top: 25px;
                color: $three-color;
                font-size: $size;
                letter-spacing: 0.5px;
                line-height: 22px;
            }
            //X-Tablet
            @include x-tablet {
                img {width: 50%}
            }
            //Mobil
            @include mobil {
                img {width: 100%}
                p {font-size: 12px; line-height: normal; padding-top: 30px;}
            }
        }
        //owl-nav
        .owl-nav {
            margin-top: 0;
            //owl-prev
            .owl-prev {
                position: absolute;
                top: 50%;
                left: -7%;
                color: #bdbdbd;
                @include weight(light);
                font-size: 100px;
                &:hover {
                    background-color: transparent;
                }
            }
            //owl-next
            .owl-next {
                position: absolute;
                top: 50%;
                right: -7%;
                color: #bdbdbd;
                @include weight(light);
                font-size: 100px;
                &:hover {
                    background-color: transparent;
                }
            }
            //1280px
            @media screen and (max-width: 1280px) {
                .owl-prev {left: -2%; top: 20%}
                .owl-next {right: -2%; top: 20%}
            }
            //X-Tablet
            @include x-tablet {
                .owl-prev {left: 0; top: 15%;}
                .owl-next {right: 0; top: 15%;}
            }
        }
    }
}

//Brands
#brands {
    width: 100%;
    padding: 50px 0 50px 0;
    //home-brands-owl
    .home-brands-owl {
        position: relative;
        //item
        .item {
            @include transition(0.4s);
            padding: 50px 25px;
            &:hover {
                background-color: #f5e9f0;
                cursor: pointer;
            }
        }
        //owl-dots
        .owl-dots {
            margin-top: 30px;
            .owl-dot {
                span {
                    width: 25px;
                    height: 7px;
                    background-color: $three-color;
                    @include transition(0.4s);
                }
            }
            .active {
                span {
                    width: 35px;
                    height: 7px;
                    background-color: $secondary-color;
                }
            }
        }
    }
}

//Footer#
#footer {
    width: 100%;
    background-color: #2c2c2c;
    //footer-wrapper
    .footer-wrapper {
        @include flex();
        @include justify-content(space-between);
        @include align-items(center);
        //footer-copyright
        .footer-copyright {
            font-size: $size;
            color: $base-color;
            a {color: $secondary-color; @include weight(bold)}
        }
        //footer-social
        .footer-social {
            ul {
                li {
                    display: inline-block;
                    margin-right: 15px;
                    &:last-child {
                        margin-right: 0;
                        a {
                            i {
                                &:last-child {
                                    padding: 25px 15px;
                                    background-color: $secondary-color;
                                }
                            }
                        }
                    }
                    a {color: $base-color}
                }
            }
        }
    }
    //Notebook
    @include notebook {
        padding: 25px 0 25px 0;
        .footer-wrapper {
            @include flex();
            @include flex-direction(column);
            text-align: center;
            //footer-social
            .footer-social {
                padding-top: 20px;
                ul {
                    li {
                        &:last-child {
                            a {
                                i {
                                    &:last-child {
                                        padding: 0;
                                        background-color: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //X-Tablet
    @include x-tablet {
        .footer-wrapper {
            .footer-copyright {font-size: 12px; line-height: normal;}
            .footer-social {
                ul {
                    li {margin-right: 5px;}
                }
            }
        }
    }
}


/////ABOUT.HTML

//About-İnfo#
#about-info {
    width: 100%;
    padding: 80px 0 80px 0;
    background-color: #f6f6f6;
    //title
    .title {
        text-align: center;
        h6 {
            font-size: 30px;
            text-transform: uppercase;
            color: $primary-color;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 0;
                right: 0;
                width: 70px;
                height: 2px;
                margin: 0 auto;
                background-color: $secondary-color;
            }
        }
        p {
            color: $three-color;
            padding-top: 50px;
            font-size: $size;
            line-height: 22px;
            letter-spacing: 0.3px;
        }
        //Tablet
        @include tablet {
            h6 {font-size: 20px;}
            p {padding-top: 45px;}
        }
        //Mobil
        @include mobil {
            h6 {font-size: $size;}
            p {padding-top: 40px; font-size: 12px; line-height: normal;}
        }
    }
    //about-info-wrapper
    .about-info-wrapper {
        padding-top: 50px;
        //about-info-img
        .about-info-img {
            img {width: 100%}
        }
        //about-info-text
        .about-info-text {
            h5 {
                font-size: 30px;
                text-transform: uppercase;
                @include weight(regular);
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                    width: 70px;
                    height: 2px;
                    background-color: $secondary-color;
                }
            }
            p {
                padding-top: 45px;
                color: $three-color;
                line-height: 22px;
                letter-spacing: 0.4px;
            }
            img {margin-top: 40px;}
        }
        //Notebook
        @include notebook {
            .about-info-text {margin-top: 30px;}
        }
        //Tablet
        @include tablet {
            .about-info-text {
                h5 {font-size: 20px;}
            }
        }
        //Mobil
        @include mobil {
            .about-info-text {
                h5 {
                    font-size: 15px;
                    &::before {bottom: -10px;}
                }
                p {padding-top: 35px; font-size: 12px; line-height: normal;}
            }
        }
    }
}

//About-Services#
#about-services {
    width: 100%;
    padding: 80px 0 80px 0;
    //title
    .title {
        text-align: center;
        h6 {
            font-size: 30px;
            text-transform: uppercase;
            color: $primary-color;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 0;
                right: 0;
                width: 70px;
                height: 2px;
                margin: 0 auto;
                background-color: $secondary-color;
            }
        }
        p {
            color: $three-color;
            padding-top: 50px;
            font-size: $size;
            line-height: 22px;
            letter-spacing: 0.3px;
        }
        //Tablet
        @include tablet {
            h6 {font-size: 20px;}
            p {padding-top: 45px;}
        }
        //Mobil
        @include mobil {
            h6 {font-size: $size;}
            p {padding-top: 40px; font-size: 12px; line-height: normal;}
        }
    }
    //about-services-wrapper
    .about-services-wrapper {
        padding-top: 50px;
        //about-services-item
        .about-services-item {
            background-color: $secondary-color;
            text-align: center;
            padding: 70px 0;
            color: $base-color;
            @include transition(0.4s);
            h5 {
                padding-top: 20px;
                text-transform: uppercase;
                font-size: $size;
                @include weight(semi-bold);
            }
            &:hover {
                cursor: pointer;
                background-color: $primary-color;
            }
        }
    }
    //Large
    @include large {
        padding: 80px 0 50px 0;
        .about-services-wrapper {
            .about-services-item {
                margin-bottom: 30px;
            }
        }
    }
    //Mobil
    @include mobil {
        .about-services-wrapper {
            .about-services-item {
                padding: 50px 0;
                h5 {font-size: 12px;}
            }
        }
    }
}

//About-Clients#
#about-clients {
    width: 100%;
    padding: 90px 0 90px 0;
    background-image: url(../img/about-clients-bg.png);
    @include bg-size(cover);
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    //title
    .title {
        font-size: 30px;
        text-transform: uppercase;
        color: $base-color;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            width: 70px;
            height: 2px;
            margin: 0 auto;
            background-color: $secondary-color;
        }
        //Tablet
        @include tablet {
            font-size: 20px;
        }
        //Mobil
        @include mobil {
            font-size: $size;
            &::before {bottom: -15px;}
        }
    }
    //about-clients-owl
    .about-clients-owl {
        padding-top: 70px;
        position: relative;
        //item
        .item {
            color: $base-color;
            img {width: 15%; margin: 0 auto;};
            p {
                padding-top: 25px;
                font-size: $size;
                letter-spacing: 0.5px;
                line-height: 22px;
            }
            //X-Tablet
            @include x-tablet {
                img {width: 50%}
            }
            //Mobil
            @include mobil {
                img {width: 100%}
                p {font-size: 12px; line-height: normal; padding-top: 30px;}
            }
        }
        //owl-nav
        .owl-nav {
            margin-top: 0;
            //owl-prev
            .owl-prev {
                position: absolute;
                top: 50%;
                left: -7%;
                color: $base-color;
                @include weight(light);
                font-size: 100px;
                &:hover {
                    background-color: transparent;
                }
            }
            //owl-next
            .owl-next {
                position: absolute;
                top: 50%;
                right: -7%;
                color: $base-color;
                @include weight(light);
                font-size: 100px;
                &:hover {
                    background-color: transparent;
                }
            }
            //1280px
            @media screen and (max-width: 1280px) {
                .owl-prev {left: -2%; top: 20%}
                .owl-next {right: -2%; top: 20%}
            }
            //X-Tablet
            @include x-tablet {
                .owl-prev {left: 0; top: 15%;}
                .owl-next {right: 0; top: 15%;}
            }
        }
    }
}

//About-Team#
#about-team {
    width: 100%;
    padding: 80px 0 50px 0;
    text-align: center;
    //title
    .title {
        font-size: 30px;
        text-transform: uppercase;
        color: $primary-color;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            width: 70px;
            height: 2px;
            margin: 0 auto;
            background-color: $secondary-color;
        }
        //Tablet
        @include tablet {
            font-size: 20px;
        }
        //Mobil
        @include mobil {
            font-size: $size;
            &::before {bottom: -15px;}
        }
    }
    //about-team-owl
    .about-team-owl {
        padding-top: 70px;
        //item
        .item {
            position: relative;
            @include transition(0.4s);
            &::before {
                content: "";
                background-color: rgba(26,175,107,0.50);
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                height: 0%;
                z-index: 1;
                transition: 1s height;
                -webkit-transition: 1s height;
            }
            img {width: 100%}
            .overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                @include translate(-50%, -50%);
                text-align: center;
                opacity: 0;
                visibility: hidden;
                i {
                    color: $base-color;
                    font-size: 20px;
                    padding-right: 5px;
                }
            }
            &:hover {
                cursor: pointer;
                .overlay {
                    visibility: visible;
                    opacity: 1;
                }
                &::before {
                    height: 100%;
                }
            }
        }
        //owl-nav
        .owl-nav {
            margin-top: 25px;
            .owl-prev,  .owl-next {
                width: 30px;
                height: 30px;
                line-height: 30px;
                background-color: $secondary-color;
                color: $base-color;
            }
        }
    }
}


/////SERVİCES.HTML
//Services#
#services {
    width: 100%;
    padding: 80px 0 50px 0;
    text-align: center;
    //title
    .title {
        h6 {
            font-size: 30px;
            text-transform: uppercase;
            color: $primary-color;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 0;
                right: 0;
                width: 70px;
                height: 2px;
                margin: 0 auto;
                background-color: $secondary-color;
            }
        }
        p {
            color: $three-color;
            padding-top: 50px;
            font-size: $size;
            line-height: 22px;
            letter-spacing: 0.3px;
        }
        //Tablet
        @include tablet {
            h6 {font-size: 20px;}
            p {padding-top: 45px;}
        }
        //Mobil
        @include mobil {
            h6 {font-size: $size;}
            p {padding-top: 40px; font-size: 12px; line-height: normal;}
        }
    }
    //services-wrapper
    .services-wrapper {
        padding-top: 50px;
        //services-item
        .services-item {
            margin-bottom: 30px;
            border: 1px solid #e6e6e6;
            @include border-radius(5px);
            @include transition(0.4s);
            padding: 60px 30px;
            i {color: $secondary-color}
            h5 {
                padding-top: 25px;
                text-transform: uppercase;
                color: $primary-color;
                font-size: 16px;
                @include weight(semi-bold);
            }
            p {
                padding-top: 25px;
                color: $three-color;
                line-height: 22px;
                letter-spacing: 0.4px;
            }
            &:hover {
                cursor: pointer;
                background-color: $secondary-color;
                border: 1px solid $secondary-color;
                i,h5,p {color: $base-color}
            }
        }
        //Mobil
        @include mobil {
            .services-item {
                padding: 40px 0;
                h5 {font-size: $size}
                p {
                    font-size: 12px;
                    padding-top: 20px;
                    line-height: normal;
                }
            }
        }
        //Small
        @include small {
            .services-item {
                padding: 40px 10px;
                h5 {font-size: 12px; line-height: normal}
                p {
                    padding-top: 15px;
                }
            }
        }
    }
}

//Services-Features#
#services-features {
    width: 100%;
    padding: 90px 0 90px 0;
    background-image: url(../img/about-clients-bg.png);
    @include bg-size(cover);
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    //title
    .title {
        h6 {
            font-size: 30px;
            text-transform: uppercase;
            color: $base-color;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 0;
                right: 0;
                width: 70px;
                height: 2px;
                margin: 0 auto;
                background-color: $base-color;
            }
        }
        p {
            color: $base-color;
            padding-top: 50px;
            font-size: $size;
            line-height: 22px;
            letter-spacing: 0.3px;
        }
        //Tablet
        @include tablet {
            h6 {font-size: 20px;}
            p {padding-top: 45px;}
        }
        //Mobil
        @include mobil {
            h6 {font-size: $size;}
            p {padding-top: 40px; font-size: 12px; line-height: normal;}
        }
    }
    //services-features-wrapper
    .services-features-wrapper {
        padding-top: 60px;
        //features-item
        .features-item {
            border: 1px solid $base-color;
            @include border-radius(5px);
            padding: 70px 0;
            color: $base-color;
            @include transition(0.4s);
            h5 {
                padding-top: 20px;
                text-transform: uppercase;
                font-size: $size;
                @include weight(semi-bold);
            }
            &:hover {
                cursor: pointer;
                border: 1px solid $secondary-color;
                background-color: $secondary-color;
            }
        }
    }
    //Large
    @include large {
        padding: 90px 0 60px 0;
        .services-features-wrapper {
            .features-item {
                margin-bottom: 30px;
            }
        }
    }
    //Mobil
    @include mobil {
        .services-features-wrapper {
            .features-item {
                padding: 50px 0;
            }
        }
    }
    //Small
    @include small {
        .services-features-wrapper {
            .features-item {
                h5 {font-size: 12px}
            }
        }
    }
}

//Servivces-Projects#
#services-projects {
    width: 100%;
    padding: 80px 0 80px 0;
    //title
    .title {
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        color: $primary-color;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            width: 70px;
            height: 2px;
            margin: 0 auto;
            background-color: $secondary-color;
        }
        //Tablet
        @include tablet {
            font-size: 20px;
        }
        //Mobil
        @include mobil {
            font-size: $size;
            &::before {bottom: -15px;}
        }
    }
    //services-projects-owl
    .services-projects-owl {
        padding-top: 60px;
        .owl-nav {
            margin-top: 0;
            .owl-prev {
                position: absolute;
                top: 35%;
                left: -3.5%;
                color: #a4a4a4;
                font-size: 100px;
                @include weight(light);
                &:hover {
                    background-color: transparent;
                }
            }
            .owl-next {
                position: absolute;
                top: 35%;
                right: -3.5%;
                color: #a4a4a4;
                font-size: 100px;
                @include weight(light);
                &:hover {
                    background-color: transparent;
                }
            }
            //Notebook
            @include notebook {
                .owl-prev, .owl-next {
                    color: $base-color;
                }
                .owl-prev {left: 0}
                .owl-next {right: 0}
            }
        }
    }
}


/////PROJECTS.HTML
#projects {
    width: 100%;
    padding: 80px 0 30px 0;
    //title
    .title {
        text-align: center;
        h6 {
            font-size: 30px;
            text-transform: uppercase;
            color: $primary-color;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 0;
                right: 0;
                width: 70px;
                height: 2px;
                margin: 0 auto;
                background-color: $secondary-color;
            }
        }
        p {
            color: $three-color;
            padding-top: 50px;
            font-size: $size;
            line-height: 22px;
            letter-spacing: 0.3px;
        }
        //Tablet
        @include tablet {
            h6 {font-size: 20px;}
            p {padding-top: 45px;}
        }
        //Mobil
        @include mobil {
            h6 {font-size: $size;}
            p {padding-top: 40px; font-size: 12px; line-height: normal;}
        }
    }
    //tab-projects
    .tab-projects {
        padding-top: 60px;
        //tab-list
        .tab-list {
            text-align: center;
            li {
                display: inline-block;
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
                &.aktif {
                    a {
                        padding: 10px 20px;
                        border: 1px solid $secondary-color;
                        background-color: transparent; 
                        color: $secondary-color;
                        font-size: $size;
                    }
                }
                a {
                    padding: 10px 20px;
                    background-color: $secondary-color;
                    color: $base-color;
                    font-size: $size;
                }
            }
            //Tablet
            @include tablet {
                li {
                    margin-right: 4px;
                    &:last-child {
                        margin-right: 0;
                    }
                    &.aktif {
                        a {
                            padding: 5px 10px;
                            font-size: 12px;
                        }
                    }
                    a {
                        padding: 5px 10px;
                        font-size: 12px;
                    }
                }
            }
            //Mobil
            @include mobil {
                li {
                    margin: 0 0 20px 0;
                    &:last-child {
                        margin-right: 0;
                    }
                    &.aktif {
                        a {
                            padding: 5px 5px;
                            font-size: 12px;
                        }
                    }
                    a {
                        padding: 5px 5px;
                        font-size: 12px;
                    }
                }
            }
        }
        //tab-content
        .tab-content {
            padding-top: 70px;
            //project-item
            .project-item {
                position: relative;
                margin-bottom: 30px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 0;
                    background-color: rgba(26,175,107,0.7);
                    @include transition(0.4s);
                }
                img {width: 100%}
                .project-overlay {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include translate(-50%, -50%);
                    text-align: center;
                    color: $base-color;
                    @include transition(0.4s);
                    opacity: 0;
                    visibility: hidden;
                    h5 {
                        text-transform: uppercase;
                        @include weight(bold);
                        font-size: 16px;
                        letter-spacing: 0.3px;
                    }
                    h6 {
                        padding-top: 7px;
                        @include weight(regular);
                        font-size: $size;
                        letter-spacing: 0.3px;
                    }
                }
                &:hover {
                    cursor: pointer;
                    .project-overlay {
                        opacity: 1;
                        visibility: visible;
                    }
                    &::before {
                        height: 100%;
                    }
                }
            }
            //Mobil
            @include mobil {
                padding-top: 40px;
            }
            //Small
            @include small {
                .project-item {
                    .project-overlay {
                        h5,h6 {font-size: 12px; letter-spacing: normal;}
                    }
                }
            }
            //X-Small
            @include x-small {
                .project-item {
                    .project-overlay {
                        h5,h6 {font-size: 10px;}
                    }
                }
            }
        }
    }
}


/////BLOG.HTML
//Blog#
#blog {
    width: 100%;
    padding: 80px 0 80px 0;
    //blog-wrapper
    .blog-wrapper {
        //blog-post
        .blog-post {
            //post
            .post {
                position: relative;
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                img {width: 100%}
                .category {
                    position: absolute;
                    top: 10px;
                    left: 7px;
                    @include border-radius(5px);
                    background-color: $secondary-color;
                    padding: 10px 20px;
                    color: $base-color;
                    cursor: pointer;
                    @include weight(semi-bold);
                }
                h5 {
                    padding-top: 20px;
                    line-height: 20px;
                    a {
                        font-size: 18px;
                        @include weight(bold);
                        color: $primary-color;
                        @include transition(0.4s);
                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }
                .post-flex {
                    padding-top: 15px;
                    @include flex();
                    color: #b5b5b5;
                    font-size: $size;
                    .date {padding: 0 10px 0 10px}
                }
                p {
                    padding-top: 15px;
                    color: $three-color;
                    line-height: 22px;
                }
                button {
                    margin-top: 25px;
                    @include border-radius(5px);
                    background-color: $secondary-color;
                    padding: 10px 20px;
                    cursor: pointer;
                    a {
                        color: $base-color;
                    }
                }
            }
            //Tablet
            @include tablet {
                //post
                .post {
                    .category {top: 5px;left: 5px;}
                    h5 {
                        padding-top: 10px;
                        a {font-size: $size}
                    }
                }
            }
            //X-Tablet
            @include x-tablet {
                //post
                .post {
                    .category {top: 5px;left: 5px; font-size: 12px; padding: 5px 10px}
                    h5 {
                        padding-top: 10px;
                        line-height: 15px;
                        a {font-size: 13px}
                    }
                    p {font-size: 13px;line-height: 19px;}
                }
            }
            //Mobil
            @include mobil {
                text-align: center;
                //post
                .post {
                    .category {top: 5px;left: 5px; font-size: 12px; padding: 5px 10px}
                    h5 {
                        padding-top: 10px;
                        line-height: 14px;
                        a {font-size: 11px}
                    }
                    .post-flex {
                        @include flex();
                        @include flex-direction(column);
                        .author,.date {padding: 0 0 5px 0}
                    }
                    p {font-size: 11px;line-height: 16px;}
                    button {
                        width: 100%;
                        padding: 10px 0;
                        a {font-size: 12px; text-transform: uppercase; @include weight(semi-bold);}
                    }
                }
            }
            //Small
            @include small {
                text-align: center;
                //post
                .post {
                    .category {top: 2px;left: 2px; font-size: 12px; padding: 5px 10px}
                    h5 {
                        padding-top: 10px;
                        line-height: 12px;
                        a {font-size: 11px}
                    }
                    .post-flex {
                        @include flex();
                        @include flex-direction(column);
                        font-size: 12px;
                        .author,.date {padding: 0 0 5px 0}
                    }
                    p {font-size: 11px;line-height: 16px;}
                    button {
                        width: 100%;
                        padding: 10px 0;
                        a {font-size: 12px; text-transform: uppercase; @include weight(semi-bold);}
                    }
                }
            }
        }
        //sidebar
        .blog-sidebar {
            //sidebar
            .sidebar {
                margin-bottom: 40px;
                &:last-child {
                    margin-bottom: 0;
                }
                //search
                .search {
                    position: relative;
                    input {
                        width: 100%;
                        border: 1px solid #e6e6e6;
                        color: #aeaeae;
                        padding: 15px;
                    }
                    i {
                        position: absolute;
                        top: 40%;
                        right: 20px;
                        z-index: 1;
                        color: #b4b4b4;
                    }
                }
                //categories
                .categories {
                    h6 {
                        color: $primary-color;
                        font-size: 16px;
                        @include weight(semi-bold);
                        text-transform: capitalize;
                        padding-bottom: 10px;
                    }
                    ul {
                        li {
                            border-bottom: 1px solid #eeee;
                            padding: 10px 0 10px 20px;
                            position: relative;
                            &::before {
                                content: "\f054";
                                font-family: "Font Awesome 5 Free";
                                @include weight(bold);
                                position: absolute;
                                top: 11px;
                                left: 0;
                                color: #868686;
                            }
                            &:last-child {
                                border-bottom: 0;
                            }
                            a {
                                font-size: $size;
                                color: #868686;
                            }
                        }
                    }
                }
                //popular-post
                .popular-post {
                    h6 {
                        color: $primary-color;
                        font-size: 16px;
                        @include weight(semi-bold);
                        text-transform: capitalize;
                    }
                    //popular
                    .populars {
                        padding-top: 15px;
                        //latest-post
                        .latest-post {
                            border-bottom: 1px solid #eeee;
                            padding: 10px 0 10px 20px;
                            position: relative;
                            &::before {
                                content: "\f054";
                                font-family: "Font Awesome 5 Free";
                                @include weight(bold);
                                position: absolute;
                                top: 12px;
                                left: 0;
                                color: #868686;
                            }
                            &:last-child {
                                border-bottom: 0;
                            }
                            h4 {
                                a {
                                    color: $primary-color;
                                    @include weight(semi-bold);
                                    font-size: $size;
                                    @include transition(0.4s);
                                    &:hover {
                                        color: $secondary-color;
                                    }
                                }
                            }
                            p {
                                padding-top: 5px;
                                line-height: normal;
                                color: $three-color;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            //Notebook
            @include notebook {
                margin-top: 40px;
            }
            //Mobil
            @include mobil {
                text-align: center;
                .sidebar {
                    //categories
                    .categories {
                        h6 {font-size: $size}
                        ul {
                            li {
                                padding: 10px 0 10px 15px;
                                &::before {
                                    left: -150px;
                                    right: 0;
                                    z-index: 2;
                                }
                            }
                        }
                    }
                    //popular-post
                    .popular-post {
                        h6 {font-size: $size}
                        .populars {
                            .latest-post {
                                padding: 10px 0 10px 15px;
                                &::before {
                                    top: 10px;
                                    left: -193px;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
            }
            //Small
            @include small {
                .sidebar {
                    //categories
                    .categories {
                        h6 {font-size: $size}
                        ul {
                            li {
                                padding: 10px 0 10px 15px;
                                &::before {
                                    left: -120px;
                                    right: 0;
                                    z-index: 2;
                                }
                                a {font-size: 12px}
                            }
                        }
                    }
                    //popular-post
                    .popular-post {
                        h6 {font-size: $size}
                        .populars {
                            .latest-post {
                                padding: 10px 0 10px 15px;
                                &::before {
                                    left: -165px;
                                    right: 0;
                                    z-index: 2;
                                }
                                h4 {
                                    a {font-size: 12px}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //page
    .page {
        padding-top: 50px;
        li {
            display: inline-block;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: inline-block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border: 1px solid #d2d2d2;
                @include border-radius(5px);
                color: $three-color;
                @include transition(0.4s);
                &:hover {
                    border: 1px solid #d0d0d0;
                    background-color: #d0d0d0;
                    color: $base-color;
                }
            }
        }
        //Mobil
        @include mobil {
            text-align: center;
            li {
                margin: 0 5px 7px 0;
                &:last-child {
                    margin: 0 5px 0px 0;
                }
            }
        }
    }
}


/////BLOG-SİNGLE.HTML
//Blog-Single
.blog-single {
    //post-single
    .post-single {
        position: relative;
        img {width: 100%}
        .category {
            position: absolute;
            top: 10px;
            left: 7px;
            @include border-radius(5px);
            background-color: $secondary-color;
            padding: 10px 20px;
            color: $base-color;
            cursor: pointer;
            @include weight(semi-bold);
        }
        h5 {
            padding-top: 20px;
            line-height: 20px;
            font-size: 18px;
            @include weight(bold);
            color: $primary-color;
        }
        .post-flex {
            padding-top: 15px;
            @include flex();
            color: #b5b5b5;
            font-size: $size;
            .date {padding: 0 10px 0 10px}
        }
        p {
            padding-top: 15px;
            color: $three-color;
            line-height: 22px;
        }
    }
    //Tablet
    @include tablet {
        //post-single
        .post-single {
            .category {top: 5px;left: 5px;}
            h5 {
                padding-top: 10px;
                font-size: $size;
            }
        }
    }
    //X-Tablet
    @include x-tablet {
        //post-single
        .post-single {
            .category {top: 5px;left: 5px; font-size: 12px; padding: 5px 10px}
            h5 {
                padding-top: 10px;
                line-height: 15px;
                font-size: 13px;
            }
            p {font-size: 13px;line-height: 19px;}
        }
    }
    //Mobil
    @include mobil {
        text-align: center;
        //post-single
        .post-single {
            .category {top: 5px;left: 5px; font-size: 12px; padding: 5px 10px}
            h5 {
                padding-top: 10px;
                line-height: 14px;
                font-size: 11px;
            }
            .post-flex {
                @include flex();
                @include flex-direction(column);
                .author,.date {padding: 0 0 5px 0}
            }
            p {font-size: 11px;line-height: 16px;}
        }
    }
    //Small
    @include small {
        text-align: center;
        //post-single
        .post-single {
            .category {top: 2px;left: 2px; font-size: 12px; padding: 5px 10px}
            h5 {
                padding-top: 10px;
                line-height: 14px;
                font-size: 11px;
            }
            .post-flex {
                @include flex();
                @include flex-direction(column);
                font-size: 12px;
                .author,.date {padding: 0 0 5px 0}
            }
            p {font-size: 11px;line-height: 16px;}
        }
    }
}


/////CONTACT.HTML
//Contact#
#contact {
    width: 100%;
    padding: 80px 0 80px 0;
    .title {
        text-align: center;
        h6 {
            font-size: 30px;
            text-transform: uppercase;
            color: $primary-color;
            line-height: normal;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: -15px;
                left: 0;
                right: 0;
                width: 70px;
                height: 2px;
                margin: 0 auto;
                background-color: $secondary-color;
            }
        }
        p {
            color: $three-color;
            padding-top: 50px;
            font-size: $size;
            line-height: 22px;
            letter-spacing: 0.3px;
        }
        //Tablet
        @include tablet {
            h6 {font-size: 20px;}
            p {padding-top: 45px;}
        }
        //Mobil
        @include mobil {
            h6 {font-size: $size;}
            p {padding-top: 40px; font-size: 12px; line-height: normal;}
        }
    }
    //contact-wrapper
    .contact-wrapper {
        padding-top: 60px;
        //contact-form
        .contact-form {
            h5 {
                font-size: 18px;
                @include  weight(bold);
                color: $secondary-color;
                padding-bottom: 30px;
            }
            //form
            form {
                input {
                    width: 100%;
                    border: 1px solid #e6e6e6;
                    padding: 20px;
                    @include border-radius(5px);
                    margin-bottom: 10px;
                }
                select {
                    width: 100%;
                    border: 1px solid #e6e6e6;
                    padding: 20px;
                    @include border-radius(5px);
                    margin-bottom: 10px;
                }
                textarea {
                    width: 100%;
                    border: 1px solid #e6e6e6;
                    padding: 20px;
                    resize: none;
                    @include border-radius(5px);
                }
                button {
                    margin-top: 20px;
                    float: right;
                    padding: 15px 40px;
                    @include border-radius(5px);
                    background-color: $secondary-color;
                    cursor: pointer;
                    a {
                        color: $base-color;
                    }
                }
            }
        }
        //contact-info
        .contact-info {
            h5 {
                font-size: 18px;
                @include  weight(bold);
                color: $secondary-color;
                padding-bottom: 30px;
            }
            p {
                color: $three-color;
                line-height: 20px;
                letter-spacing: 0.5px;
                padding-bottom: 50px;
            }
            h4 {
                font-size: $size;
                color: $secondary-color;
                @include weight(bold);
            }
            ul {
                padding-top: 15px;
                li {
                    color: $three-color;
                    font-size: $size;
                    padding-bottom: 10px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    span {
                        border-bottom: 1px solid $secondary-color;
                    }
                }
            }
        }
        //Notebook
        @include notebook {
            .contact-form {
                form {
                    button {float: none; width: 100%; padding: 15px 0}
                }
            }
            //contact-info
            .contact-info {margin-top: 30px}
        }
        //Mobil
        @include mobil {
            .contact-form {
                h5 {font-size: $size; padding-bottom: 20px}
            }
            //contact-info
            .contact-info {
                h5 {font-size: $size; padding-bottom: 20px}
                p {font-size: 12px; line-height: normal; padding-bottom: 25px;}
                h4 {font-size: 12px; line-height: normal}
                ul {
                    li {font-size: 12px; line-height: normal; padding-bottom: 5px}
                }
            }
        }
    }
}